* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "custom", sans-serif;
    background-color: var(--grey);
    color: var(--text);
}

header {
    color: black;
    width: 100%;
    height: 75px;
    padding: 20px 30px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.header-title {
    width: 35%;
    display: flex;
    align-items: center;
}

.header-title img {
    width: 15%;
    border-radius: 15%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-left: 10px;
    margin-top: 100px;
}

nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 10px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-dark:hover {
    color: #dcdcdc;
    border: 2px solid #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.btn-light:hover {
    color: #686868;
    border: 2px solid #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
}

main>* {
    margin: 20px 25px 0 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px var(--shadow);
    max-width: 400px;
    margin: 0 auto 30px auto;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "custom", sans-serif;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

form button.btn-dark {
    background-color: #000;
    color: #fff;
}

form button.btn-dark:hover {
    color: #dcdcdc;
    border: 2px solid #fff;
}

form button.btn-light {
    background-color: #fff;
    color: #000;
}

form button.btn-light:hover {
    background-color: #e5e5e5;
}